<%- @page_title = "Client: " + h(@client.name) %>
<h1>Client: <%= h(@client.name) %></h1>
<p>
  <strong>Installed packages:</strong>

  <table cellspacing="0" class="styled">
  <thead>
  <tr>
  <th <%= sort_td_class_helper "name" %> > <%= sort_link_helper "Name", "name" %></th>
  <th>Version</th>
  <th <%= sort_td_class_helper "os" %> > <%= sort_link_helper "OS", "os" %></th>
  <th <%= sort_td_class_helper "arch" %> > <%= sort_link_helper "arch", "arch" %></th>
  </tr>
  </thead>
  <tbody>

  <%- @installed_packages.each do |package| -%>
    <tr class="<%= cycle('odd', 'even') -%>">
      <td nowrap="nowrap" width="5%">
        <%= link_to package.name, {:controller=>:packages, :action=>:show, :id => package.id}  %> 
      </td>
      <td><%= package.version %></td>
      <td><%= package.os %></td>
      <td><%= package.arch %></td>
    </tr>
  <%- end -%>

  </tbody>
</table>
</p>
<p>
  <strong>Installation History:</strong>
  <br/>
  <%- @installation_history.each do |item| -%>
    <%= "#{item.created_at}: #{item.package.name}-#{item.package.version}-#{item.package.package_version} -- #{item.action}" %> 
    <br/>
  <%- end -%> 
</p>
